.tags-cloud__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
}
.tags-cloud__item {
  a {
    display: block;
    padding: 5px 15px;
    border: 1px dashed rgba(66, 63, 217, .5);
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }
  &:first-child a {
    border: 0 solid transparent;
    font-weight: 500;
    padding: 0 0;
    border-radius: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px dashed rgba(66, 63, 217, .5);
  }
}