.cases {
  @include paddings;
  @include section-width--blog;
  @include centers;
  font-weight: 400;
  .cases__wrapper {
    @media #{$max-mobile-width} {
      padding-top: 95px;
    }
    @media #{$min-tablet-width} {
      padding-top: 137px;
    }
  }
  .cases__title {
    width: 100%;
    @include common-title;
    margin-bottom: 35px;
    @media #{$max-mobile-width} {
      text-align: center;
      font-size: 48px;
      line-height: 56px;
    }
    @media #{$min-tablet-width} {
      font-size: 48px;
      line-height: 56px;
    }
  }
  .cases__category-list {
    padding-left: 0;
    @media #{$min-tablet-width} {
      display: flex;
    }
  }
  .cases__category-link {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(102.53deg, #423FD9 14.44%, #9445FB 77.68%);
    padding: 15px 50px;
    @media #{$max-mobile-width} {
      margin-top: 20px;
      display: inline-block;
    }
    @media #{$min-tablet-width} {
      margin-right: 40px;
      display: block;
      height: 100%;
    }
    &.active {
      background-color: $text-color-alt2;
      border-image-source: linear-gradient(102.53deg, $text-color-alt2 14.44%, $text-color-alt2 77.68%);
      color: $text-color-alt;
    }
  }
  .cases__list {
    padding-left: 0;
  }
  .cases__item {
    background: #FFFFFF;
    box-shadow: 0 20px 50px rgba(125, 129, 164, 0.25);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    @media #{$max-mobile-width} {
      margin-top: 40px;
      padding-bottom: 30px;
    }
    @media #{$min-tablet-width} {
      display: flex;
      margin-top: 80px;
    }
  }
  .cases__item-tech {
    position: absolute;
    left: 0;
    top: 0;
    @media #{$max-mobile-width} {
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    @media #{$min-tablet-width} {
      width: 30px;
      height: 100%;
    }
  }
  .cases__item-tech-text {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: $text-color-alt;
    @media #{$max-mobile-width} {
      padding-right: 30px;
    }
    @media #{$min-tablet-width} {
      transform: rotate(90deg);
      position: absolute;
      top: 50px;
      left: -21px;
    }
  }
  .cases__text-field {
    @media #{$max-mobile-width} {
      padding-left: 27px;
      padding-right: 27px;
      padding-top: 53px;
    }
    @media #{$min-tablet-width} {
      padding-left: 56px;
      padding-right: 35px;
      padding-top: 42px;
      flex-shrink: 0;
      padding-bottom: 112px;
      width: 500px;
    }
    @media #{$min-desktop-width} {
      padding-left: 80px;
      padding-right: 50px;
      width: 650px;
    }
  }
  .cases__item-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    @media #{$max-mobile-width} {
    }
    @media #{$min-desktop-width} {
      font-size: 36px;
    }
  }
  .cases__item-subtitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    @media #{$max-mobile-width} {
      margin-top: 17px;
    }
    @media #{$min-tablet-width} {
      margin-top: 8px;
    }
    @media #{$min-desktop-width} {
      font-size: 24px;
    }
  }
  .cases__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    @media #{$min-tablet-width} {
      margin-top: 45px;
    }
    @media #{$min-desktop-width} {
      font-size: 24px;
      line-height: 33.5px;
    }
  }
  .cases__result-container {
    display: flex;
    @media #{$max-mobile-width} {
      margin-top: 20px;
      flex-direction: column;
    }
    @media #{$min-tablet-width} {
      justify-content: space-between;
      align-items: center;
      margin-top: 37px;
    }
  }
  .cases__result-notice {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    @media #{$min-tablet-width} {
      padding-right: 20px;
    }
    @media #{$min-desktop-width} {
      font-size: 24px;
    }
  }
  .cases__result {
    font-size: 30px;
    font-weight: 700;
    @media #{$max-mobile-width} {
      margin-top: 7px;
    }
    @media #{$min-desktop-width} {
      font-size: 36px;
    }
  }
  .cases__img-field {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center top;
    @media #{$max-mobile-width} {
      background-size: 0 0;
      margin-top: 20px;
    }
    @media #{$min-tablet-width} {
      background-size: cover;
    }
  }
  .cases__img-container {
    @media #{$max-mobile-width} {
      max-width: 320px;
      @include centers;
    }
    @media #{$min-tablet-width} {
      display: none;
    }
  }
  .cases__buttons-container {
    display: flex;
    @media #{$max-mobile-width} {
      flex-direction: column;
      align-items: center;
      max-width: 200px;
      @include centers;
      margin-top: 25px;
    }
    @media #{$min-tablet-width} {
      position: absolute;
      left: 56px;
      bottom: 40px;
      margin-top: 30px;
      justify-content: space-between;
      width: 409px;
    }
    @media #{$min-desktop-width} {
      left: 80px;
      width: 520px;
    }
  }
  .cases__item-link {
    border-radius: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    @media #{$max-mobile-width} {
      width: 100%;
      padding-left: 45px;
      min-height: 40px;
      background-size: 10px auto;
      background-position: 168px 50%;
    }
    @media #{$min-tablet-width} {
      width: 190px;
      padding-left: 34px;
      min-height: 38px;
      background-size: 16px auto;
      background-position: 150px 50%;
    }
  }
  .cases__item-button {
    border: 0 solid transparent;
    border-radius: 50px;
    font-weight: 700;
    color: $text-color-alt;
    font-size: 16px;
    @media #{$max-mobile-width} {
      width: 100%;
      min-height: 40px;
      margin-top: 8px;
    }
    @media #{$min-tablet-width} {
      width: 190px;
      min-height: 38px;
    }
  }
  .cases__item--case {
    color: #138201;
    .cases__item-tech {
      @media #{$max-mobile-width} {
        background: linear-gradient(270deg, #59C028 0%, #148301 100%);
      }
      @media #{$min-tablet-width} {
        background: linear-gradient(180deg, #59C028 0%, #148301 100%);
      }
    }
    .cases__item-link {
      border: 1px solid #138201;
      color: #138201;
      background-image: url("/assets/templates/ms2/images/case-arrow-green.svg");
    }
    .cases__item-button {
      background: linear-gradient(270deg, #59C028 0%, #148301 100%);
    }
    .cases__item-tech-text {
      @media #{$min-tablet-width} {
        left: -10px;
      }
    }
  }
  .cases__item--project {
    color: $text-color-alt2;
    .cases__item-tech {
      @media #{$max-mobile-width} {
        background: linear-gradient(102.53deg, #423FD9 14.44%, #9445FB 77.68%);
      }
      @media #{$min-tablet-width} {
        background: linear-gradient(0deg, #423FD9 14.44%, #9445FB 77.68%);
      }
    }
    .cases__item-link {
      border: 1px solid $text-color-alt2;
      color: $text-color-alt2;
      background-image: url("/assets/templates/ms2/images/case-arrow-purple.svg");
    }
    .cases__item-button {
      background: linear-gradient(102.53deg, #423FD9 14.44%, #9445FB 77.68%);
    }
  }
}