.intro--site {
  position: relative;
  .intro__wrapper {
    position: relative;
    z-index: 2;
    color: $text-color-alt;
    @include paddings;
    @include section-width;
    @media #{$max-mobile-width} {
      padding-top: 160px;
    }
    @media #{$min-tablet-width} {
      padding-top: 100px;
    }
    @media #{$min-desktop-width} {
      padding-top: 145px;
      padding-bottom: 168px;
    }
    &::after {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("/assets/templates/ms2/images/bro.svg");
      @media #{$max-mobile-width} {
        width: 221px;
        height: 191px;
        left: 50%;
        top: 75px;
      }
      @media #{$min-tablet-width} {
        width: 40%;
        height: 100%;
        right: 0;
        top: 0;
      }
      @media #{$min-desktop-width} {
        right: -70px;
        width: 713px;
        height: 600px;
        top: 50%;
        transform: translateY(-54%);
      }
    }
  }
  .intro__title {
    font-size: 36px;
    line-height: 44px;
    max-width: 270px;
    margin-top: 0;
    position: relative;
    z-index: 3;
    @media #{$min-tablet-width} {
      font-size: 60px;
      max-width: 420px;
      line-height: 73px;
    }
  }
  .intro__list {
    margin-top: 45px;
    margin-bottom: 0;
    padding-left: 0;
    @media #{$min-tablet-width} {
      max-width: 420px;
    }
  }
  .intro__item {
    padding-left: 67px;
    position: relative;
    margin-top: 30px;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 50%;
      width: 50px;
      height: 50px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &:nth-child(1)::after {
      background-image: url("/assets/templates/ms2/images/site-intro-item--1.svg");
    }
    &:nth-child(2)::after {
      background-image: url("/assets/templates/ms2/images/site-intro-item--2.svg");
    }
  }
  .intro__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $text-color-alt-isl;
    display: block;
  }
  .intro__item-description {
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-top: 10px;
  }
  .intro__button-container {
    margin-top: 45px;
    @media #{$max-mobile-width} {
      max-width: 354px;
      @include centers;
    }
    @media #{$min-tablet-width} {
      width: 354px;
    }
  }
  .intro__button {
    border: 3px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    width: 100%;
    color: $text-color-alt;
    font-size: 20px;
    font-weight: 500;
    min-height: 54px;
    border-image: linear-gradient(to right, #4340d9 0%,#9344fa 100%);
    -moz-border-image: -moz-linear-gradient(left, #4340d9 0%, #9344fa 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #4340d9 0%,#9344fa 100%);
    border-image-slice: 1;
  }
}