.blog {
  @include paddings;
  @include section-width;
  @include section-width--blog;
  font-weight: 400;
  .blog__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 137px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .blog__title {
    width: 100%;
    @include common-title;
    margin-bottom: 35px;
    @media #{$max-mobile-width} {
      order: -5;
    }
  }
  .blog__breadcrumbs {
    @media #{$max-mobile-width} {
      order: -4;
    }
    @media #{$min-tablet-width} {
      width: 10%;
      flex-grow: 1;
      align-self: center;
    }
  }
  .blog__search {
    @media #{$max-mobile-width} {
      width: 100%;
    }
    @media #{$min-tablet-width} {
      width: 50%;
    }
    .search {
      margin-left: auto;
      margin-right: 0;
    }
  }
  .blog__tags-cloud {
    width: 100%;
    margin-top: 17px;
    margin-bottom: 5px;
    @media #{$max-mobile-width} {
      order: 2;
    }
  }
  .aside-left {
    @media #{$max-mobile-width} {
      order: -3;
      margin-top: 30px;
    }
  }
  .aside-nav {
    margin-bottom: 20px;
  }
}