.intro--audit {
  position: relative;
  @media #{$min-desktop-width} {
    height: 100vh;
  }
  .intro__inner {
    @include paddings;
    @include section-width;
    @media #{$min-desktop-width} {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }
  .intro__wrapper {
    position: relative;
    z-index: 2;
    color: $text-color-alt;
    @media #{$max-mobile-width} {
      padding-top: 160px;
      padding-bottom: 38px;
    }
    @media #{$min-tablet-width} {
      padding-top: 100px;
      padding-bottom: 117px;
    }
    @media #{$min-desktop-width} {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .intro__title {
    font-size: 25px;
    margin-top: 0;
    position: relative;
    z-index: 3;
    @media #{$min-tablet-width} {
      font-size: 45px;
    }
  }
  .intro__6000 {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 178px;
      height: 4px;
      background-color: rgba(82, 66, 225, 1);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-8deg);
    }
  }
  .intro__discount {
    font-size: 25px;
    color: rgba(255, 255, 255, .5);
    text-transform: uppercase;
    font-weight: 600;
    @media #{$min-tablet-width} {
      font-size: 45px;
    }
  }
  .intro__free {
    background: linear-gradient(45deg, #4E41DF 20%, #9445FD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #4E41DF;
  }
  .intro__list-title {
    display: block;
    font-size: 18px;
    @media #{$min-tablet-width} {
      font-size: 30px;
      margin-top: 60px;
    }
  }
  .intro__list {
    padding-left: 0;
  }
  .intro__item {
    font-size: 15px;
    position: relative;
    padding-left: 22px;
    @media #{$min-tablet-width} {
      font-size: 25px;
      margin-top: 28px;
    }
    span {
      color: #5442E2;
      font-weight: 600;
    }
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 7px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: linear-gradient(63.43deg, #5141E0 8.33%, #9345FD 91.67%);
    }
  }
  .intro__description {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    font-style: italic;
    @media #{$min-tablet-width} {
      font-size: 25px;
      line-height: 30px;
      margin-top: 70px;
    }
  }
  .inner__form {
    @media #{$min-tablet-width} {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 556px;
      background: #FFFFFF;
      box-shadow: 0 0 50px #6F34BB;
    }
  }
  .intro__inputs {
    width: 247px;
    @media #{$min-tablet-width} {
      width: 290px;
    }
  }
}