.page-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  @media #{$max-mobile-width} {
    z-index: 10000;
    background-color: $main-bg;
    box-shadow: 0 20px 50px rgba(125, 129, 164, 0.2);
  }
  @media #{$min-tablet-width} {
    z-index: 1000;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
  }
  @media #{$min-desktop-width} {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &.white {
    @media #{$min-tablet-width} {
      background-color: $main-bg;
      box-shadow: 0 20px 50px rgba(125, 129, 164, 0.2);
    }
  }
}
.page-header--secondary {
  background-color: #0E1326;
}
.page-header__wrapper {
  @include paddings;
  display: flex;
  align-items: center;
}
.page-header__logo-link {
  @media #{$max-mobile-width} {
    width: 29px;
  }
  @media #{$min-tablet-width} {
    width: 43px;
  }
}
.page-header__nav-burger {
  @media #{$max-mobile-width} {
    margin-left: auto;
    margin-right: 0;
    background-color: transparent;
    border: 0 solid transparent;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px auto;
    background-image: url("/assets/templates/ms2/images/burger.svg");
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}