.page-footer__wrapper {
  @include paddings;
  @include section-width;
  @media #{$max-mobile-width} {
    padding-top: 12px;
    padding-bottom: 40px
  }
  @media #{$min-tablet-width} {
    padding-bottom: 44px;
  }
  @media #{$min-desktop-width} {
    padding-bottom: 64px;
  }
}
.page-footer__nav {
  @media #{$max-mobile-width} {
    margin-top: 30px;
  }
  @media #{$min-tablet-width} {
    display: flex;
    margin-top: 40px;
  }
}
.page-footer__nav-list {
  padding-left: 0;
  @media #{$max-mobile-width} {
    margin-top: 20px;
  }
  @media #{$min-tablet-width} {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.page-footer__nav-item {
  @media #{$max-mobile-width} {
    margin-top: 16px;
  }
  @media #{$min-tablet-width} {
    margin-bottom: 17px;
  }
}
.page-footer__nav-list--services {
  .page-footer__nav-item {
    @media #{$min-tablet-width} {
      width: 30%;
      flex-grow: 1;
      padding-right: 20px;
    }
    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(3) {
      order: 2;
    }
    &:nth-child(5) {
      order: 3;
    }
    &:nth-child(2) {
      order: 4;
    }
    &:nth-child(4) {
      order: 5;
    }
    &:nth-child(6) {
      order: 6;
    }
  }
}
.page-footer__nav-list--about {
  .page-footer__nav-item {
    @media #{$min-tablet-width} {
      padding-right: 50px;
    }
  }
}
.page-footer__nav-title-container {
  @media #{$min-tablet-width} {
    flex-shrink: 0;
    padding-right: 20px;
    min-width: 161px;
  }
}
.page-footer__nav-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $placeholder-color;
  text-transform: uppercase;
}
.page-footer__nav-link {
  color: $text-color-main;
  font-size: 15px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: rgba(20, 42, 70, .3);
  &:hover {
    color: $text-color-alt2;
    text-decoration: none;
  }
}
.page-footer__map {
  @media #{$min-tablet-width} {
    margin-top: 60px;
  }
}
.page-footer__sub {
  display: flex;
  @media #{$max-mobile-width} {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  @media #{$min-tablet-width} {
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
  }
  @media #{$min-desktop-width} {
    margin-top: 65px;
  }
  a {
    color: $text-color-main;
    font-size: 14px;
    line-height: 20px;
    @media #{$max-mobile-width} {
      margin-top: 13px;
    }
    &:hover {
      color: $text-color-alt2;
    }
  }
  .page-footer__confid-link {
    color: $placeholder-color;
  }
}