.steps.steps--context {
  .steps__item {
    &:nth-child(1) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-1.svg");
      }
      &::before {
        content: "01.";
      }
    }
    &:nth-child(2) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-2.svg");
      }
      &::before {
        content: "02.";
      }
    }
    &:nth-child(3) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-3.svg");
      }
      &::before {
        content: "03.";
      }
    }
    &:nth-child(4) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-4.svg");
      }
      &::before {
        content: "04.";
      }
    }
    &:nth-child(5) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-5.svg");
      }
      &::before {
        content: "05.";
      }
    }
    &:nth-child(6) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-6.svg");
      }
      &::before {
        content: "06.";
      }
    }
    &:nth-child(7) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-7.svg");
      }
      &::before {
        content: "07.";
      }
    }
    &:nth-child(8) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-8.svg");
      }
      &::before {
        content: "08.";
      }
    }
    &:nth-child(9) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-9.svg");
      }
      &::before {
        content: "09.";
      }
    }
    &:nth-child(10) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms2/images/step-10.svg");
      }
      &::before {
        content: "10.";
      }
    }
  }
}