.support.support--context {
  background-color: $alt2-bg;
  .support__wrapper {
    @include section-width;
    @include paddings;
    position: relative;
    @media #{$max-mobile-width} {
      padding-top: 144px;
      padding-bottom: 56px;
    }
    @media #{$min-tablet-width} {
      padding-top: 50px;
      padding-bottom: 39px;
    }
    @media #{$min-desktop-width} {
      padding-top: 72px;
      padding-bottom: 56px;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      z-index: 2;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("/assets/templates/ms2/images/stars.svg");
    }
    &::before {
      width: 40px;
      height: 40px;
      @media #{$max-mobile-width} {
        top: 24px;
        right: 48px;
      }
      @media #{$min-tablet-width} {
        top: 36px;
        right: -96px;
      }
    }
    &::after {
      width: 64px;
      height: 64px;
      @media #{$max-mobile-width} {
        bottom: 8px;
        left: 48px;
      }
      @media #{$min-tablet-width} {
        bottom: 56px;
        left: -188px;
      }
    }
  }
  .support__container {
    background-color: #fff;
    position: relative;
    z-index: 3;
    box-shadow: 0 20px 50px 0 rgba(111, 52, 187, .5);
    @media #{$max-mobile-width} {
      padding-top: 112px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 48px;
      max-width: 500px;
      @include centers;
    }
    @media #{$min-tablet-width} {
      padding-left: 72px;
      padding-right: 72px;
      padding-top: 34px;
      padding-bottom: 34px;
    }
    @media #{$min-desktop-width} {
      padding-left: 96px;
      padding-right: 96px;
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
  .support__sputnik {
    position: absolute;
    @media #{$max-mobile-width} {
      width: 280px;
      height: auto;
      left: 50%;
      top: -88px;
      transform: translateX(-50%);
    }
    @media #{$min-tablet-width} {
      right: 96px;
      top: -32px;
      width: 290px;
      height: auto;
    }
  }
  .support__title {
    @include common-title;
    @media #{$max-mobile-width} {
      max-width: 280px;
      @include centers;
    }
    @media #{$min-tablet-width} {
      text-align: left;
    }
  }
  .support__description {
    font-size: 15px;
    line-height: 25px;
    @media #{$max-mobile-width} {
      max-width: 280px;
      @include centers;
    }
    @media #{$min-tablet-width} {
      margin-top: 25px;
      padding-right: 320px;
    }
    @media #{$min-desktop-width} {
      max-width: 672px;
      font-size: 18px;
      line-height: 28px;
      padding-right: 0;
    }
  }
  .support__form {
    display: flex;
    @media #{$max-mobile-width} {
      flex-direction: column;
      max-width: 280px;
      @include centers;
    }
    @media #{$min-tablet-width} {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 45px;
    }
  }
  .support__label {
    margin-bottom: 5px;
  }
  .support__input-container {
    display: flex;
    flex-direction: column;
    @media #{$max-mobile-width} {
      margin-top: 28px;
    }
    @media #{$min-tablet-width} {
      width: 30%;
    }
  }
  .support__input {
    @include common-input;
    order: 2;
  }
  .support__submit-container {
    @media #{$max-mobile-width} {
      order: 3;
      margin-top: 25px;
    }
    @media #{$min-tablet-width} {
      width: 30%;
    }
  }
  .support__submit {
    @include main-btn;
    width: 100%;
  }
  .support__confid-container {
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    @media #{$max-mobile-width} {
      margin-top: 25px;
    }
    @media #{$min-tablet-width} {
      margin-top: 40px;
    }
    @media #{$min-desktop-width} {
      font-size: 14px;
      line-height: 20px;
    }
  }
}