.feedback.feedback--context {
  background-color: $alt-bg;
  .feedback__wrapper {
    @include section-width;
    @include paddings;
    @media #{$max-mobile-width} {
      padding-top: 60px;
    }
    @media #{$min-tablet-width} {
      padding-top: 56px;
    }
    @media #{$min-desktop-width} {
      padding-top: 80px;
    }
  }
  .feedback__title {
    @include common-title;
    text-align: center;
  }
  .feedback__description {
    text-align: center;
    display: block;
    font-size: 15px;
    line-height: 22px;
    @media #{$max-mobile-width} {
      margin-top: 15px;
    }
    @media #{$min-tablet-width} {
      margin-top: 21px;
    }
    @media #{$min-desktop-width} {
      margin-top: 30px;
    }
  }
  .feedback__list {
    padding-left: 0;
    @media #{$max-mobile-width} {
      margin-top: 55px;
    }
    @media #{$min-tablet-width} {
      margin-top: 35px;
    }
    @media #{$min-desktop-width} {
      margin-top: 50px;
    }
    .owl-stage-outer {
      overflow: visible;
    }
    .owl-stage {
      display: flex;
      .owl-item {
        flex-shrink: 0;
      }
    }
  }
  .feedback__item {
    height: 100%;
    @media #{$max-mobile-width} {
      padding: 20px;
    }
  }
  .feedback__item-container {
    background-color: $main-bg;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media #{$max-mobile-width} {
      padding-top: 24px;
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 30px;
      box-shadow: 0 0 8px rgba(125, 129, 164, .15);
    }
    @media #{$min-tablet-width} {
      width: 700px;
      padding: 22px 28px;
    }
    @media #{$min-desktop-width} {
      padding: 32px 40px;
    }
  }
  .feedback__author-container {
    @media #{$min-tablet-width} {
      display: flex;
      align-items: center;
    }
  }
  .feedback__author-img-container {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    @media #{$min-tablet-width} {
      margin-right: 20px;
    }
  }
  .feedback__author-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media #{$max-mobile-width} {
      margin-top: 10px;
      margin-bottom: 22px;
    }
  }
  .feedback__author-name {
    font-weight: 700;
    font-size: 18px;
  }
  .feedback__author-description {
    font-size: 14px;
    line-height: 20px;
    color: $grey-text-color;
    margin-top: 2px;
    @media #{$max-mobile-width} {
      margin-top: 7px;
    }
  }
  .feedback__text {
    font-size: 15px;
    line-height: 22px;
  }
  .feedback__more-button {
    background-color: transparent;
    border: 0 solid transparent;
    color: $grey-text-color;
    font-size: 15px;
  }
  .feedback__source-container {
    font-size: 14px;
    margin-top: auto;
    @media #{$max-mobile-width} {
      padding-top: 20px;
    }
    @media #{$min-tablet-width} {
      pagging-top: 16px;
    }
    @media #{$min-desktop-width} {
      padding-top: 23px;
    }
  }
  .feedback__source-link {
    color: $grey-text-color;
    padding-left: 32px;
    margin-right: 16px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      left: 0;
      top: -3px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("/assets/templates/ms-template/images/social_vk.svg");
    }
  }
  .feedback__source-date {
    color: $grey-text-color;
  }
}