.steps.steps--context {
  .steps__wrapper {
    @include section-width;
    @include paddings;
    @media #{$max-mobile-width} {
      padding-top: 55px;
    }
    @media #{$min-tablet-width} {
      padding-top: 70px;
    }
    @media #{$min-desktop-width} {
      padding-top: 100px;
    }
  }
  .steps__title {
    @include common-title;
  }
  .steps__description {
    font-size: 15px;
    line-height: 22px;
    display: block;
    @media #{$max-mobile-width} {
      margin-top: 15px;
    }
    @media #{$min-tablet-width} {
      text-align: center;
      margin-top: 17px;
    }
    @media #{$min-desktop-width} {
      font-size: 18px;
      line-height: 28px;
      margin-top: 25px;
    }
  }
  .steps__banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $text-color-alt;
    @media #{$max-mobile-width} {
      background-image: url("/assets/templates/ms-template/images/step-banner-bg-mobile.jpg");
      max-width: 328px;
      @include centers;
      padding: 40px 24px;
      margin-top: 32px;
    }
    @media #{$min-tablet-width} {
      background-image: url("/assets/templates/ms-template/images/step-banner-bg-desktop.jpg");
      padding: 25px 38px;
      margin-top: 28px;
    }
    @media #{$min-desktop-width} {
      padding: 36px 54px;
      margin-top: 40px;
    }
  }
  .steps__banner-text {
    font-size: 15px;
    line-height: 22px;
    @media #{$min-tablet-width} {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .steps__banner-callback-btn {
    background-color: transparent;
    border: 0 solid transparent;
    color: $text-color-alt;
    text-decoration: underline;
    font-weight: 500;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    @media #{$max-mobile-width} {
      display: block;
      margin-top: 8px;
    }
    @media #{$min-tablet-width} {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .steps__list {
    @media #{$max-mobile-width} {
      padding-left: 0;
      margin-top: 30px;
    }
    @media #{$min-tablet-width} {
      padding-left: 140px;
    }
    @media #{$min-desktop-width} {
      padding-left: 200px;
    }
  }
  .steps__item {
    position: relative;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(125, 129, 164, 0.4);
    }
    margin-top: 20px;
    @media #{$max-mobile-width} {
      padding-top: 32px;
      padding-bottom: 20px;
    }
    @media #{$min-tablet-width} {
      padding-right: 80px;
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 64px 64px;
      padding-bottom: 29px;
      margin-top: 28px;
    }
    @media #{$min-desktop-width} {
      margin-top: 40px;
      padding-bottom: 42px;
    }
    &::before {
      font-weight: 700;
      color: $text-color-alt2;
      position: absolute;
      content: "";
      top: 0;
      font-size: 18px;
      line-height: 28px;
      @media #{$min-tablet-width} {
        left: -140px;
      }
      @media #{$min-desktop-width} {
        left: -200px;
        font-size: 20px;
        line-height: 32px;
      }
    }
    &:nth-child(1) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-1.svg");
      }
      &::before {
        content: "01.";
      }
    }
    &:nth-child(2) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-2.svg");
      }
      &::before {
        content: "02.";
      }
    }
    &:nth-child(3) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-3.svg");
      }
      &::before {
        content: "03.";
      }
    }
    &:nth-child(4) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-4.svg");
      }
      &::before {
        content: "04.";
      }
    }
    &:nth-child(5) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-5.svg");
      }
      &::before {
        content: "05.";
      }
    }
    &:nth-child(6) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-6.svg");
      }
      &::before {
        content: "06.";
      }
    }
    &:nth-child(7) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-7.svg");
      }
      &::before {
        content: "07.";
      }
    }
    &:nth-child(8) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-8.svg");
      }
      &::before {
        content: "08.";
      }
    }
    &:nth-child(9) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-9.svg");
      }
      &::before {
        content: "09.";
      }
    }
    &:nth-child(10) {
      @media #{$min-tablet-width} {
        background-image: url("/assets/templates/ms-template/images/step-10.svg");
      }
      &::before {
        content: "10.";
      }
    }
  }
  .steps__item-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    @media #{$min-tablet-width} {
      max-width: 635px;
    }
    @media #{$min-desktop-width} {
      font-size: 20px;
      line-height: 32px;
    }
  }
  .steps__item-description {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
    @media #{$min-tablet-width} {
      max-width: 635px;
    }
    @media #{$min-desktop-width} {
      font-size: 16px;
      line-height: 27px;
    }
  }
}